.logo, img{
    width: 99px;
    /* margin-left: 50px; */
    display: block;
    text-align: center;
}

.nav-item, a{
    font-size: 14px;
    font-weight: 400;
    /* margin-left: 8px; */
}

.navbar-nav .nav-link:hover {
    text-decoration: underline; /* Underline on hover */
}


.carousel-item, img{
    height: 30%;
}

.carousel-item{
    position: relative;
}

.carousel-caption{
    position: absolute;
    top: 30%;
    left: 10%!important;
}

.carousel-caption h5{
    text-align: left;
    font-size: 30px;
    color: black;
}

.carousel-caption p{
    text-align: left;
    color: black;
}

.carousel-caption button{
    position: absolute;
    border: none;
    left: 0;

}

.carousel-caption a{
    position: absolute;
    text-decoration: none;
    left: 15%;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.carousel-caption a:hover{
    text-decoration: underline;
}

.container{
    margin-top: 12%;
}

/* .card{
    border: none!important;
} */

.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  .pic-edit{
    margin-top: 6%;
  }

.business .container{
    margin-top: 6%;
}

.container h6{
    font-size: 30px;
}

/* .btn{
    font-weight: 400;
} */

.fa-brands{
    margin-left: -30px;
}

.container-fluid ul li{
    text-decoration: none;
    list-style: none;
   
}

.container-fluid ul li a{
    text-decoration: none;
    color: rgb(49, 48, 48);
    /* margin-top: 18%; */
}

.container-fluid ul li a:hover{
    color: black;
    text-decoration: underline;
}

footer{
    background-color: #f2f2f2;
    margin-top: 6%;
}

#footer-edit{
    color: rgb(63, 57, 57);
    font-weight: 600;
}

#back-top{
    background-color: rgb(199, 199, 199);
    color: black;
    border: none;
    padding: 10px 10px;
    font-weight: 600;
}

#back-top:hover{
    background-color: white;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
}